# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

__data__
backups/
prisma/*.db
prisma/*.db-*
local-review-server*.log


# terraform
elasticsearch/http_ca.crt
elasticsearch/tf-local/local.tfvars
.terraform
terraform.tfstate
terraform.tfstate.backup
.env.*
!.env.example
.supabase-db-password.txt
data/sqlite-export.json
prisma/dev.db
.netlify

.env.netlify

%SystemDrive%/
data/*.log
*.log
signin-body.html
signup.html
home.html
home2.html

